.cabal-sandbox*
cabal.sandbox*
dist/**
.idea**
src/UI/HTTP/cs/bower_components**
src/UI/HTTP/cs/node_modules**
src/UI/HTTP/cs/.psci_modules**
src/UI/HTTP/cs/res/*.js

/.dist-buildwrapper/
twic.db/**
SourceGraph/**


.project
twic.log

